.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .avatar {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
  }

  .logoSection {
    display: flex;
    align-items: center;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }

  .logo-separator {
    height: 50px; /* Adjust the height as needed */
    width: 1px;
    margin: 0 10px; /* Adjust the margin as needed */
  }

  .nav-bar {
    display: flex;
    padding: 0;
    padding-right: 15px;
    align-items: center;
    size-adjust: inherit;
    size: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    display: flex;
    align-items: center;
  }

  .url-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .url-routes {
    color: #4CAF50;
    text-decoration: none;
  }

  .url-routes:hover {
    color: #043905;
  }

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121212 ;
    transition: 1s;
    border-radius: 16px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .toggle-switch input:checked + .slider {
    background-color: #FFFFFF ;
  }
  
  .slider::before {
    content: '☀️';
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #F5F5F5 ;
    transition: 0.4s;
    border-radius: 50%;
    align-content: center;
  }
  
  .toggle-switch input:checked + .slider::before {
    content: '🌙';
    align-content: center;
    transform: translateX(26px);
    background-color: #333333 ; 
  }