.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .avatar {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
  }

  .logoSection {
    display: flex;
    align-items: center;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }

  .logo-separator {
    height: 50px; /* Adjust the height as needed */
    width: 1px;
    margin: 0 10px; /* Adjust the margin as needed */
  }

  .nav-bar {
    display: flex;
    padding: 0;
    padding-right: 15px;
    align-items: center;
    size-adjust: inherit;
    size: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    display: flex;
    align-items: center;
  }

  .left-list {
    display: flex;
    justify-content: flex-start;
}

.first-list-item {
    text-align: left;
    padding-left: 20px; /* Add padding for extra differentiation */
    font-weight: bolder; /* Make it bold or apply any other styling you prefer */
}

.centered-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.centered-list li {
    display: inline-block;
    margin: 0 10px; /* Adjust the margin as needed */
}

  .url-routes {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
  }

  .url-routes:hover {
    color: #043905;
  }

  .dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #4CAF50; /* You can adjust the color as needed */
    margin-left: 10px; /* Add margin for spacing */
}

.dark-mode-toggle:hover {
    color: #043905; /* Adjust hover color as needed */
}

@media (max-width: 768px) {
  .header {
      flex-direction: column; /* Stack items vertically */
      text-align: center; /* Center text content */
  }

  .toggle-switch {
      margin-top: 10px; /* Add some spacing between the button and the navigation */
  }
  
  .logo-separator {
      display: none; /* Hide the separator on smaller screens */
  }

  .nav-bar {
      padding: 10px; /* Adjust padding for smaller screens */
  }
}