/* Home.module.css */

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.left-content {
    max-width: 400px; /* Adjust the width as needed */
    margin-right: auto;
}

.right-content img {
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
    border-radius: 10px; /* Optional: Add border-radius for a rounded image */
}
